[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
ipykernel = "*"
jupyter = "*"
notebook = "*"
gensim = "*"
seaborn = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.9"
